<div class="carousel-wrapper">
  <button tabindex="1" class="slider-button__left" (click)="scrollSlider('left')" [disabled]="isAtStart"
    [ngClass]="{'disabled': isAtStart, 'click': isAnimated}">
    <span class="material-icons">arrow_back</span>
  </button>

  <div class="carousel" #carousel (scroll)="onScrollCarousel()">
    <div class="carousel-item" *ngFor="let img of images; let i = index" (click)="highlightIndexItem(i)">
      <figure class="carousel-item--figure">
        <img [src]="img.image" [alt]="img.name || 'Imagen'" loading="lazy" />
      </figure>
      <div class="carousel-item--caption">
        <h4>{{ img.name }}</h4>
        <span *ngIf="img.description">{{img.description}}</span>
      </div>
    </div>
  </div>

  <button tabindex="2" class="slider-button__right" (click)="scrollSlider('right')" [disabled]="isAtEnd"
    [ngClass]="{'disabled': isAtEnd, 'click': isAnimated}">
    <span class="material-icons">arrow_forward</span>
  </button>
</div>