@import url("../../shared/styles/animations.scss");

.contact {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  max-height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
    padding-block: 50px;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 7%);
    background: linear-gradient(var(--color-primary), var(--color-secondary));

    &__title {
      color: var(--color-primary);
      margin-block: 15px;
      animation: topToBottom 1.2s ease-in-out;

    }

    &__form {
      width: 100%;

      &-user,
      &-email,
      &-message {
        width: 100%;
        display: flex;
      }

      &-user {
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & > * {
          height: 100px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 10px;

          input {
            width: 100%;
            height: 50%;
            padding: 10px;
            border-radius: 6px;
            outline: none;
            border: none;
            box-sizing: border-box;
            background-color: var(--color-white);
          }
        }
      }

      &-email {
        flex-direction: column;
        height: 100px;
        gap: 10px;

        input {
          width: 100%;
          height: 50%;
          padding: 10px;
          border-radius: 6px;
          outline: none;
          border: none;
          box-sizing: border-box;
          background-color: var(--color-white);
        }
      }

      &-message {
        height: 150px;
        flex-direction: column;
        gap: 10px;

        textarea {
          width: 100%;
          height: 100px;
          padding: 10px;
          border-radius: 6px;
          outline: none;
          border: none;
          box-sizing: border-box;
          background-color: var(--color-white);
          resize: none;
        }
      }

      &-submit {
        height: 100px;
        width: 100%;
        height: 100px;
        // margin-top: 40px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: end;

        button {
          padding: 15px;
          box-sizing: border-box;
          width: 30%;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: var(--color-secondary);
          color: var(--color-white);
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }

    &__figure {
      display: none;
    }
  }

  &-title {
    max-width: 95%;
    text-align: center;
    color: var(--color-primary);
  }

  &-information {
    width: 90%;
    height: auto;
    min-height: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-block: 2rem;

    &__card {
      width: 100%;
      height: auto;
      padding: 1.5rem;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      position: relative;

      &-button-copy {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;

        span {
          font-size: 1rem;
          color: var(--color-dark-gray);
        }
      }

      &-icon {
        width: 12%;
        margin: 0 auto;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        span {
          border-radius: 10px;
          font-size: 1.2rem;
          color: white;
        }
      }

      .icon-emails {
        width: 12%;
        background-color: var(--color-medium);

        span {
          color: var(--color-dark-gray);
        }
      }

      &-content {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        &-title {
          color: var(--color-dark);
          font-size: 0.9rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        &-description {
          color: var(--color-dark-gray);
          font-size: 0.9rem;
          line-height: 1.5rem;
          font-weight: 400;
          text-align: center;
        }
      }

      &.dark {
        background-color: var(--color-dark-gray);

        .item__content {
          .item__title,
          .item__description {
            color: var(--color-white);
          }
        }
      }
    }
  }

  .emails-title {
    margin-top: 40px;
  }

  .select-emails-filter {
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--color-medium);
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact {
    &-header {
      &__form {
        width: 70%;
        &-user {
          & > * {
            width: 50%;
          }
        }
      }
    }

    .emails {
      display: flex;
      height: 180px;
      justify-content: center;

      .contact-information__card {
        width: 50%;
      }
    }

    .select-emails-filter {
      width: 40%;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .contact {
    &-header {
      &__form {
        width: 60%;
        &-user {
          & > * {
            width: 50%;
          }
        }
      }
    }

    .select-emails-filter {
      width: 50%;
    }

    .emails {
      display: flex;
      height: 180px;
      justify-content: center;

      .contact-information__card {
        width: 50%;
      }
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .contact {
    padding: 15px;
    align-items: center;
    padding: 0;


    &-header {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      margin-bottom: 50px;
      padding-block: 50px;
      background-color: var(--color-primary);

      &__title {
        font-size: 3rem;
      }

      &__form {
        width: 30%;

        &-user {
          & > * {
            width: 50%;
          }
        }
      }

      &__figure {
        width: 35%;
        height: 100%;
        display: flex;

        img {
          max-width: 100%;
          filter: drop-shadow(-10px 10px 10px var(--color-dark));
        }
      }
    }

    &-information {
      width: 50%;
      &__card {
        width: 100%;
        height: 100%;
        gap: 0;
        &-icon {
          width: 15%;
        }

        &-content {
          &-title {
            font-size: 0.8rem;
          }

          &-description {
            font-size: 0.75rem;
          }
        }

        &.dark {
          background-color: var(--color-dark-gray);

          .item__content {
            .item__title,
            .item__description {
              color: var(--color-white);
            }
          }
        }
      }
    }

    .emails {
      display: flex;
      height: 180px;
      justify-content: center;

      .contact-information__card {
        width: 50%;
      }
    }

    .select-emails-filter {
      width: 30%;
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
