<section class="contact">
    <h1 class="contact-header__title">Contactanos</h1>
    <header class="contact-header">
        <!-- <figure class="contact-header__figure"> -->
        <!-- <img src="assets/logo-mercadatos.png" alt="logo-mercadatos" loading="lazy"> -->
        <!-- </figure> -->
        <form class="contact-header__form">
            <div class="contact-header__form-user">
                <div class="contact-header__form-user-name">
                    <label for="name">Nombre</label>
                    <input type="text" id="name">
                </div>
                <div class="contact-header__form-user-lastname">
                    <label for="lastname">Apellido</label>
                    <input type="text" id="lastname">
                </div>
            </div>
            <div class="contact-header__form-email">
                <label for="email">Correo</label>
                <input type="text" id="email">
            </div>
            <div class="contact-header__form-message">
                <label for="message">Comentario o mensaje</label>
                <textarea id="message"></textarea>
            </div>
            <div class="contact-header__form-submit">
                <button type="submit">Enviar</button>
            </div>
        </form>
        <figure class="contact-header__figure">
            <img src="assets/mascota/box.png" alt="">
        </figure>
    </header>
    <h2 class="contact-title">Información acerca de nosotros</h2>
    <div class="contact-information">
        <div class="contact-information__card" *ngFor="let card of cards">
            <button class="contact-information__card-button-copy" (click)="copyToClipboard(card.content)">
                <span class="material-icons">
                    content_copy
                </span> </button>
            <div class="contact-information__card-icon" [ngStyle]="{'background-color' : card.hexColor}">
                <span class="material-icons">
                    {{ card.icon }}
                </span>
            </div>
            <div class="contact-information__card-content">
                <h1 class="contact-information__card-content-title">{{card.title}}</h1>
                <h1 class="contact-information__card-content-description">{{card.content}}</h1>
            </div>
        </div>
    </div>
    <h2 class="contact-title emails-title">Correos eléctronicos por área</h2>
    <select class="select-emails-filter" (change)="filterByEmail($event)">
        <option *ngFor="let email of emailsFlattened" [value]="email" [selected]="email === defaultEmail">
            {{ email }}
        </option>
    </select>

    <div class="contact-information emails">
        <div class="contact-information__card" *ngFor="let email of emailsForArea">
            <button class="contact-information__card-button-copy" (click)="copyToClipboard(email.value)">
                <span class="material-icons">
                    content_copy
                </span> </button>
            <div class="contact-information__card-icon icon-emails">
                <span class="material-icons">
                    {{ email.icon }}
                </span>
            </div>
            <div class="contact-information__card-content">
                <h1 class="contact-information__card-content-title">{{email.area}}</h1>
                <h1 class="contact-information__card-content-description">{{email.value}}</h1>
            </div>
        </div>
    </div>

    <h2 class="contact-title emails-title">Ubicación</h2>
    <iframe zp
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7975.126850402736!2d-74.80388660825325!3d11.025506783493507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2sco!4v1747672836515!5m2!1ses-419!2sco"
        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div *ngIf="isTextCopied">
        <app-modal-confirmation [message]="'Texto copiado: ' + `${textCopied}`"
            (newItemEvent)="isTextCopied = false"></app-modal-confirmation>
    </div>
</section>