.services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-block: 10%;
  padding-block: 10%;

  .services-title {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.8rem;
    animation: topToBottom 1.2s ease-in-out;
    margin-bottom: 10px;
  }

  .services-grid {
    margin-inline: auto;
    width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;

    .services-grid-item {
      cursor: pointer;
      transform: translateY(30px);
      opacity: 0;
      width: 95%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      perspective: 1000px;

      &.visible {
        transform: translateY(0);
        opacity: 1;
        transition: transform 1s ease, opacity 1s ease;
      }

      &.dark {
        .services-grid-item-inner {
          .services-grid-item-front,
          .services-grid-item-back {
            box-shadow: none;
            border: 1px solid #373737;
          }
        }
      }
    }

    .services-grid-item-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s;
    }

    .services-grid-item:hover .services-grid-item-inner {
      transform: rotateY(180deg);
    }

    .services-grid-item-front,
    .services-grid-item-back {
      background-color: var(--color-dark-contrast);
      // box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1),
      //   -4px -4px 20px rgba(255, 255, 255, 0.1);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      border-radius: 10px;
    }

    .services-grid-item-front {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .services-grid-item-back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .services-grid-item-image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: inherit;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        border-radius: inherit;
      }

      span {
        z-index: 20;
        padding-top: 12px;
        text-align: center;
        color: var(--color-white);
        max-width: 80%;
        font-size: 1.2rem;
      }
    }

    .item__content-front {
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .item__title-front {
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--color-secondary);
    }

    .item__content-back {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .item__description-back {
      font-size: 1rem;
      color: var(--color-dark-gray);
      max-width: 90%;
      text-align: center;
      user-select: none;
    }
  }
}
/* Small screens */
@media (max-width: 320px) {
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    .services-grid {
      min-height: 50vh;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .services {
    .services-grid {
      min-height: 50vh;
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .services {
    margin-block: 3%;
    padding-block: 3%;
    .services-title {
      font-size: 2.5rem;
    }

    .services-grid {
      width: 50%;
      min-height: 70vh;
      gap: 30px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 1fr);

      .services-grid-item {
        width: 100%;

        &:first-of-type {
          grid-area: 1 / 1 / 5 / 7;
        }

        &:nth-of-type(2) {
          grid-area: 5 / 1 / 9 / 3;
        }

        &:nth-of-type(3) {
          grid-area: 5 / 3 / 9 / 5;
        }

        &:last-of-type {
          grid-area: 5 / 5 / 9 / 7;
        }
      }
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
  .services {
    .services-title {
      font-size: 2.8rem;
    }
  }
}
