<nav role="navigation" aria-label="Main Navigation" [ngClass]="{'dark' : isDarkTheme}">

    <div class="container">
        <a [routerLink]="''" class="logo" aria-label="Ir al inicio">
            <img [src]="isDarkTheme ? 'assets/logo-mercadatos-white.png' : 'assets/logo-mercadatos.png'"
                alt="Logo del sitio" loading="lazy">
        </a>

        <ul #navList class="nav-list" [ngClass]="{'active': menuActive, 'dark': isDarkTheme}">

            <li class="nav-list__item" *ngFor="let item of navItems" (click)="clicItemNav(item.label)" >

                <a  
                    [attr.href]="item.href"     
                    [attr.aria-label]="item.ariaLabel" 
                    [routerLink]="item.routerLink"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}"
                    [ngClass]="{'dark': isDarkTheme, 'notLinkDecoration': item.isDropdown}">
                    
                    {{ item.label }}
                    
                    <span class="material-icons arrow-dropdown" [ngClass]="{'isDark': isDarkTheme, 'isActive': activeDropdown === item.label}"
                        *ngIf="item.isDropdown">
                        keyboard_arrow_down
                    </span>
                
                </a>

                <div class="nav-dropdown" 
                    *ngIf="item.isDropdown"
                    [ngClass]="{'isDark': isDarkTheme}"
                    [class.visible]="activeDropdown === item.label"
                    [class.hidden]="activeDropdown !== item.label">
                    
                    <ul class="dropdown-list">
                        <li *ngFor="let content of contentDropdown">
                            <a [routerLink]="item.label === 'Servicios' ? ['/services', content.slug] : null" [ngClass]="{'dark' : isDarkTheme}" [attr.aria-label]="content.ariaLabel">{{content.label}}</a>
                        </li>
                    </ul>
                </div>


            </li>

            <!-- <li>
                <div class="toggle-container">
                    <span class="material-icons light" [ngClass]="{'size-large' : !isDarkTheme}"
                        [style.color]="isDarkTheme ? 'white' : 'black'">light_mode</span>
                    <label class="switch">
                        <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkTheme" />
                        <span class="slider"></span>
                    </label>
                    <span class="material-icons dark" [ngClass]="{'size-large' : isDarkTheme}"
                        [style.color]="isDarkTheme ? 'white' : 'black'">dark_mode</span>
                </div>
            </li> -->

        </ul>


        <button class="menu-toggle" aria-label="Abrir menú" (click)="toggleMenu()"
            [ngClass]="{'active': menuActive, 'dark' : isDarkTheme}">
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
        </button>

    </div>
</nav>