<div class="layout-wrapper">
  <div class="layout-container">
    <div class="layout-content">
      <!-- <div *ngIf="!network()" class="fullscreen-loader">
        <span>No tienes conexión a internet</span>
        <div class="loader"></div>
      </div> -->
      <app-nav-bar></app-nav-bar>
      <ng-container *ngIf="isAnniversary">
        <app-anniversary [years]="years"></app-anniversary>
      </ng-container>
      <router-outlet></router-outlet>
      <button [ngClass]="{'visibility': showButton}" class="scroll-to-top" (click)="scrollToTop()">&uarr;</button>
      <app-footer></app-footer>
    </div>
  </div>
</div>