<section class="container">
    <div class="container--overlay">
        <button class="container--overlay--close-button" (click)="closeClick.emit(false)">X</button>
        <div class="container--content" #content>
            <figure class="container--content-image">
                <img [src]="timeline.image" [alt]="timeline.name">
            </figure>
            <div class="container--content-caption">
                <h1 class="title">{{timeline.name}}</h1>
                <small class="year">{{timeline.date}}</small>
                <p class="description">{{timeline.descriptionInternal}}</p>
                <div class="quote">
                    <span class="material-icons">format_quote</span>
                    <h3 class="quote--value">{{timeline.quote}}</h3>
                    <span class="material-icons">format_quote</span>
                </div>
            </div>
        </div>
    </div>
</section>