<section class="hero">
    <div class="hero-image">
        <img src="assets/truck-mercadatos.png" alt="Camión de Mercadatos entregando productos">
    </div>
    <div class="hero-description">
        <h1 class="hero-description__title">Servicio en gestión documental</h1>
        <p class="hero-description__paragraph">Ofrecemos soluciones especializadas para la gestión eficiente de tu información mejorando los procesos, optimizando procedimientos personalizados y ajustados a tus necesidades misionales y legales.</p>
        <button class="hero-description__button-callaction">Contáctanos </button>
    </div>
    <div class="points">
        <div class="point" *ngFor="let point of [].constructor(16)"></div>
    </div>
</section>
