<section class="hero">
    <div class="hero--inner" *ngFor="let slide of visibleSlides">
        <div class="hero-image">
            <img [src]="slide.image" [alt]="slide.title" loading="lazy">
        </div>
        <div class="hero-description">
            <h1 class="hero-description__title">{{ slide.title }}</h1>
            <p class="hero-description__paragraph">{{ slide.description }}</p>
            <button class="hero-description__button-callaction" (click)="scrollDown()">Empezar</button>
        </div>
    </div>
</section>