<footer class="footer">
    <div class="footer__content">
        <figure class="footer__image">
            <img src="assets/logo-mercadatos-white.png" alt="logo-mercadatos" loading="lazy">
        </figure>
        <div class="footer__description">
            <h2 class="footer__title">Contáctenos</h2>
            <span class="footer__nit">NIT 890.116.175-9</span>
            <span class="footer__adress">Cra 81 #84-96 - Barranquilla, Atlántico.</span>
            <span>60 + 5 + 304 43 80</span>
            <hr>
        </div>
        <div class="footer__emails">
            <h2 class="footer__title">Email</h2>
            <span class="footer__email">
                mercadatoscolombia&#64;hotmail.com<br>
            </span>
            <span class="footer__email">gerencia&#64;mercadatossa.com</span>
            <hr>
        </div>
        <div class="footer__links">
            <h2 class="footer__title">Enlaces rápidos</h2>
            <a [routerLink]="link.path" *ngFor="let link of links">
                {{ link.label }}
            </a>
        </div>
    </div>
    <div class="footer__all-rights-reserved">
        <span>© {{ year }} Mercadatos S.A. Todos los derechos reservados.</span>
    </div>

</footer>