<footer class="footer">
    <div class="footer__wrapper">
        <figure class="footer__image">
            <img src="assets/logo-mercadatos-white.png" alt="logo-mercadatos"  loading="lazy">
        </figure>
        <div class="footer__description">
            <h1 class="footer__title">
                Contáctenos
            </h1>
            <span class="footer__nit">NIT 890.116.175-9</span>
            <span class="footer__adress">Cra 81 #84-96 - Barranquilla, Atlántico.</span>
            <h4 class="footer__phone">Teléfono: <span>60 + 5 + 304 43 80</span></h4>

            <div class="footer__email">
                <h4>Email</h4>
                <span>
                    mercadatoscolombia&#64;hotmail.com<br>
                    gerencia&#64;mercadatossa.com
                </span>
            </div>

            <hr>
        </div>
        <div class="footer__all-rights-reserved">
            <span>© 2023 Mercadatos S.A. Todos los derechos reservados.</span>
        </div>
    </div>

</footer>