<section class="services" [ngClass]="{'dark': isDark}">
    <div class="services-video__wrapper">
        <app-hero-video [info]="service"></app-hero-video>
    </div>
    <div class="service-markdown" *ngIf="!error; else fallback">
        <div class="content" [innerHTML]="content"></div>
        <div class="gestion-meeting">
            <h2 class="title">{{descriptionMeeting}}</h2>
            <a href="/contact">Cotizar ahora</a>
        </div>
    </div>

    <ng-template #fallback>
        <p>No se pudo cargar el contenido del servicio.</p>
    </ng-template>

</section>