@import url("../../shared/styles/animations.scss");
.services {
  width: 100%;
  box-sizing: border-box;
  gap: 10px;

  &-title {
    color: var(--color-primary);
    animation: topToBottom 1.2s ease-in-out;
  }

  &-description {
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    max-height: max-content;
    color: var(--color-gray);
    animation: topToBottom 1.4s ease-in-out;
  }

  &-video__wrapper{

  }
}
