@import url("../../shared/styles/animations.scss");
.services {
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  background-color: var(--background-color);

  &-video__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &-title {
    color: var(--color-primary);
    animation: topToBottom 1.2s ease-in-out;
  }

  &-description {
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    max-height: max-content;
    color: var(--color-gray);
    animation: topToBottom 1.4s ease-in-out;
  }

  &-information {
    width: 100%;
    // height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .service-section {
      width: 100%;
      margin: 0 auto;
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 10px;
      box-sizing: border-box;

      &.odd {
        align-items: end;
      }

      &__title {
        color: var(--color-dark-contrast);
        padding-block: 40px;
      }

      &__description {
        color: var(--color-gray);
        text-align: justify;
        padding-block: 10px;
        font-size: 1.4rem;
      }
    }
  }
}

// .dark {
//   .service-markdown {
//     :host ::ng-deep .service-markdown .gestion-documental {
//       &--section {
//         ul li {
//           color: var(--color-font-gray);
//         }

//         .information {
//           .title {
//             color: white;
//           }

//           .description {
//             color: var(--color-font-gray);
//           }
//         }
//       }
//     }
//   }
// }

.service-markdown {
  box-sizing: border-box;

  .loading{
    margin: 0 auto;
    width: 70%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader{
      width: 50px;
      height: 50px;
      border: 1px solid gray;
      border-top: 1px solid var(--color-primary);
      border-radius: 50%;
      border-width: 3px;
      animation: spinner 1s ease infinite;
    }
  }

  .content{
    animation: fadeIn 1s ease;
  }
}



/* MarkDowns */

/* Gestión documental */
:host ::ng-deep .service-markdown .document-section-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-block: 40px;

  .document-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;

    ul {
      padding: 0;
      padding-left: 16px;
      line-height: 30px;
      display: flex;
      flex-direction: column;

      li {
        color: var(--color-dark-contrast);
      }
    }

    .document-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      width: 100%;

      small {
        font-size: 1rem;
        background-color: var(--color-primary);
        color: var(--color-white);
        max-width: max-content;
        padding: 10px;
        font-weight: 700;
        border-radius: 10px;
      }

      .document-title {
        font-size: 2rem;
        font-weight: 700;
        color: var(--color-dark-contrast);
      }

      .document-description {
        color: var(--color-dark-contrast);
        font-size: 1.1rem;
        max-width: 100%;
        font-weight: 300;
        margin: 0;
      }
    }

    .document-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
        aspect-ratio: 16/9;
        transition: all 1s ease;
        border-radius: 10px;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}

:host ::ng-deep .service-markdown .gestion-meeting {
  width: 100%;
  min-height: 15vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
  width: 90%;
  margin: 10px auto;
  padding: 12px;
  border-radius: 10px;
  align-items: start;

  h2 {
    color: white;
  }

  a {
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  .service-markdown {
    margin: 20px;
  }

  :host ::ng-deep .service-markdown .document-section-wrapper {
    .document-section {
      max-width: 70%;
      margin: 0 auto;
      gap: 20px;
      flex-direction: row;
      .document-info {
        width: 50%;
        .document-description {
          font-size: 1.2rem;
          max-width: 90%;
        }
      }

      .document-image {
        width: 50%;
      }

      &.reverse {
        flex-direction: row-reverse;

        .information {
          align-items: end;

          .title {
            text-align: end;
          }

          ul {
            align-items: end;
          }
        }
      }
    }
  }

  :host ::ng-deep .service-markdown .gestion-meeting {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;

    h2{
      max-width: 70%;
    }
  }
}


@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from{
    transform: scale(1.2);
    opacity: 0;
  }

  to{
    transform: scale(1);
    opacity: 1;
  }
}