<section class="container">
    <h1 class="container__title" #elementsParallax [ngClass]="{'isDark': isDark}">
        ¿POR QUÉ BUSCAR SOLUCIÓN CON NOSOTROS?
    </h1>
    <main class="content">
        <div class="content-video" #elementsParallax>
            <app-video-player [videoSrc]="'assets/video.mp4'" [poster]="'assets/mercadatos.jpeg'"></app-video-player>
        </div>
        <div class="list-items" #elementsParallax>

            <div class="item" *ngFor="let item of visibleItems; let i = index;">

                <p [ngClass]="{'isDark': isDark}">{{ currentIndex + 1}}</p>
                <span [ngClass]="{'isDark': isDark}">{{item }}</span>

                <button (click)="sliceList('back')" [disabled]="currentIndex === 0">
                    <span class="material-icons" [ngClass]="{'isDark': isDark}"
                        [ngStyle]="{'opacity' : currentIndex === 0 ? '0.2' : 'initial'}">
                        arrow_back
                    </span>
                </button>

                <button (click)="sliceList('next')" [disabled]="currentIndex === 4">
                    <span class="material-icons" [ngClass]="{'isDark': isDark}"
                        [ngStyle]="{'opacity' : currentIndex === 4? '0.2' : 'initial'}">
                        arrow_forward
                    </span>
                </button>
            </div>
        </div>
    </main>
</section>