<section class="customers">
    <h1 class="customers__title" #elementsParallax>
        Nuestros clientes
    </h1>
    <span class="customers__description" #elementsParallax>
        Contamos con {{ publicCustomers.length }} clientes del sector publico y {{ privateCustomers.length }} del sector privado
    </span>
    <div class="slider-container" #elementsParallax (mouseover)="pauseSlider('first')" (mouseout)="resumeSlider('first')">
        <div class="slider" [ngStyle]="{'animation-play-state': isPaused ? 'paused' : 'running',}">
            <div class="slide" *ngFor="let customer of customers.slice(0,24)">
                <span>{{customer.name}}</span>
            </div>
            <div class="slide" *ngFor="let customer of customers.slice(0,24)">
                <span>{{customer.name}}</span>
            </div>
        </div>
    </div>
    <div class="slider-container slider-container-right-move" #elementsParallax (mouseover)="pauseSlider('second')" (mouseout)="resumeSlider('second')">
        <div class="slider" [ngStyle]="{'animation-play-state': isPausedSecond ? 'paused' : 'running',}">
            <div class="slide" *ngFor="let customer of customers.slice(24,47)">
                <span>{{customer.name}}</span>
            </div>
            <div class="slide" *ngFor="let customer of customers.slice(24,47)">
                <span>{{customer.name}}</span>
            </div>
        </div>
    </div>
    <button class="customers__call-action" [routerLink]="'/customers'" [ngClass]="{'isDark' : isDark}">
        <span class="view-all-customers">Ver todos los clientes</span>
        <span class="material-icons">
            arrow_forward
        </span>
    </button>


</section>