<section class="customers">
    <h1 class="customers__title" #elementsParallax>
        Nuestros clientes
    </h1>
    <span class="customers__description" #elementsParallax>
        Contamos con 120 clientes del sector publico y 70 del sector privado
    </span>
    <div class="slider-container" #elementsParallax (mouseover)="pauseSlider()" (mouseout)="resumeSlider()">
        <div class="slider" [ngStyle]="{'animation-play-state': isPaused ? 'paused' : 'running',}">
            <div class="slide" *ngFor="let customer of customers">
                <span>{{customer.name}}</span>
            </div>
            <div class="slide" *ngFor="let customer of customers">
                <span>{{customer.name}}</span>
            </div>
        </div>
    </div>
    <button class="customers__call-action" [routerLink]="'/customers'" [ngClass]="{'isDark' : isDark}">
        <span class="view-all-customers">Ver todos los clientes</span>
        <span class="material-icons">
            arrow_forward
        </span>
    </button>


</section>