@import url("../../shared/styles/animations.scss");

.about-us__wrapper {
  width: 100%;
  min-height: 100vh;
  animation: fadeIn 1s ease;

  .about-us__header {
    width: 100%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../public/assets/foto-cofounders.jpg");
    background-size: cover;
    background-position: center 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .about-us__header-description {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      .about-us__header-description-subtitle {
        color: var(--color-gray);
        font-size: 1.5rem;
      }

      .about-us__header-description-title {
        background: var(--gradient-primary);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 3rem;
        animation: topToBottom 1.2s ease-in-out;

        &.dark {
          color: var(--color-white);
        }
      }

      .about-us__header-description-text {
        display: none;
      }
    }

    .about-us__header-image {
      display: none;
    }
  }

  hr {
    width: 30%;
    text-align: center;
    background-color: var(--color-medium);
  }

  section {
    margin-block: 40px !important;
  }

  .about-us__description {
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    max-height: max-content;
    color: var(--color-gray);
  }

  .about-us__vision {
    position: relative;
  }

  .about-us__mission,
  .about-us__vision {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &-content {
      width: 100%;

      &-title {
        color: var(--color-primary);
        text-align: center;
      }

      &-description {
        text-align: justify;
        max-width: 100%;
        max-height: max-content;
        color: var(--color-gray);
      }
    }

    &-figure {
      width: 100%;
      height: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 10px;

      .points {
        position: absolute;
        left: -15px;
        bottom: -40px;
        width: 100px;
        height: 100px;
        padding: 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        z-index: 10;

        .point {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: var(--color-white);
        }
      }

      img {
        border-radius: inherit;
        max-width: 100%;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        object-fit: cover;
        aspect-ratio: 16/9;
      }

      &::after {
        content: "";
        border-radius: inherit;
        position: absolute;
        left: -10px;
        bottom: -20px;
        width: 90%;
        height: 80%;
        background-color: var(--color-primary);
        z-index: 0;
      }
    }
  }

  .about-us__beginning {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(var(--color-primary), var(--color-secondary));
    padding-block: 80px;
    box-sizing: border-box;
    clip-path: polygon(0 5%, 100% 0, 100% 93%, 0 100%);

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        text-align: center;
        color: var(--color-white);
      }

      &-description {
        text-align: justify;
        max-width: 90%;
        margin: 0 auto;
        max-height: max-content;
        color: var(--color-white);
        font-weight: 300;
      }
    }

    &-grid {
      width: 90%;
      height: 70%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      margin-top: 40px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: var(--color-white);
        color: var(--color-dark-gray);
        font-size: 0.72rem;
        box-sizing: border-box;
        padding-inline: 10px;

        span {
          height: 50%;
          display: flex;

          &:first-of-type {
            align-items: end;
            color: var(--color-dark-gray);
          }

          &:last-of-type {
            font-size: 0.7rem;
            align-items: start;
          }
        }
      }
    }
  }

  .about-us__recognitions,
  .about-us__team {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      margin-bottom: 20px;

      &-title {
        text-align: center;
        color: var(--color-primary);
        max-width: 90%;
      }

      &-description {
        text-align: justify;
        max-width: 90%;
        margin: 0 auto;
        max-height: max-content;
        color: var(--color-gray);
        font-weight: 300;
      }
    }

    &-slider-wrapper {
      width: 90%;
      height: auto;

      .about-us__recognitions-wrapper,
      .about-us__recognitions__PDF-wrapper {
        width: 100%;
        height: 50%;
      }
    }

    &-grid {
      width: 90%;
      max-height: max-content;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 18px;

      &__item {
        width: 100%;
        min-height: 200px;
        background-color: var(--color-white);
        border-radius: 10px;

        &-figure {
          width: 100%;
          height: 75%;
          box-sizing: border-box;
          border-radius: inherit;

          img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-content {
          width: 100%;
          height: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          box-sizing: border-box;
          padding-block: 12px;

          h2 {
            margin: 0;
            font-size: 0.9rem;
            color: var(--color-dark-gray);
          }

          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .about-us__wrapper {
    .about-us__mission,
    .about-us__vision {
      margin-top: 70px;
      height: auto;
    }

    .about-us__beginning {
      height: 100vh;
      max-height: max-content;
      &-content {
        &-description {
          font-size: 0.85rem;
        }
      }

      &-grid {
        &__item {
          height: 100%;
          box-sizing: border-box;
          padding: 10px;
        }
      }
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .about-us__wrapper {
    .about-us__header {
      background-position: top;
      .about-us__header-image {
        display: none;
      }
    }

    .about-us__description {
      font-size: 1.4rem;
    }

    .about-us__mission,
    .about-us__vision {
      &-content {
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.4rem;
        }
      }
    }

    .about-us__beginning {
      &-content {
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.4rem;
        }
      }

      &-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        &__item {
          span {
            font-size: 2rem;
          }

          &-text {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .about-us__wrapper {
    .about-us__header {
      .about-us__header-description {
        .about-us__header-description-subtitle {
          font-size: 2rem;
        }

        .about-us__header-description-title {
          font-size: 4.5rem;
        }

        .about-us__header-description-text {
          display: none;
        }
      }
    }

    .about-us__description {
      font-size: 1.8rem;
    }

    .about-us__mission,
    .about-us__vision {
      height: auto;

      &-content {
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.8rem;
        }
      }

      &-figure {
        width: 60%;
        height: 40%;
        border-radius: 10px;
        margin: 0;

        img {
          border-radius: inherit;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .about-us__beginning {
      &-content {
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.4rem;
        }
      }

      &-grid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        &__item {
          font-size: 1.4rem;
        }
      }
    }

    .about-us__recognitions,
    .about-us__team {
      width: 80%;
      margin: 0 auto;
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .about-us__wrapper {
    .about-us__header {
      height: 100vh;
      background-image: none;
      display: flex;
      flex-direction: row;
      position: relative;

      &::after {
        content: none;
        // position: absolute;
        // left: 0;
        // top: 90%;
        // width: 100%;
        // height: 100px;
        // background-color: var(--color-secondary);
      }

      .about-us__header-description,
      .about-us__header-image {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .about-us__header-description-subtitle {
          color: var(--color-gray);
          font-size: 1.5rem;
        }

        .about-us__header-description-title {
          background: var(--gradient-primary);
          -webkit-background-clip: text;
          color: transparent;
          font-size: 3rem;
          animation: topToBottom 1.2s ease-in-out;
        }

        .about-us__header-description-text {
          display: block;
          max-width: 80%;
          text-align: justify;
          color: var(--color-gray);
          line-height: 28px;
          font-size: 1.4rem;

          span {
            font-weight: 600;
          }
        }
      }

      .about-us__header-description {
        width: 60%;
      }

      .about-us__header-image {
        width: 50%;
        .about-us__header-image-figure {
          background-image: url("../../../../public/assets/foto-cofounders.jpg");
          clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
          margin: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
        }
      }
    }

    .about-us__description {
      display: none;
    }

    .about-us__mission,
    .about-us__vision {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0;
      position: relative;

      &-content {
        width: 60%;
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.4rem;
          max-width: 80%;
          text-align: justify;
        }
      }

      &-figure {
        height: 70%;
        width: 35%;
        display: flex;
        justify-content: end;
        transition: transform 1s ease;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .about-us__vision {
      flex-direction: row;
    }

    .about-us__beginning {
      &-content {
        &-title {
          font-size: 2.5rem;
        }

        &-description {
          font-size: 1.2rem;
          max-width: 60%;
        }
      }

      &-grid {
        max-width: 50%;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        &__item {
          width: 100%;
          height: 100%;

          .material-icons {
            font-size: 2rem;
          }

          &-text {
            font-size: 0.8rem !important;
          }
        }
      }
    }

    .about-us__recognitions,
    .about-us__team {
      width: 75%;
      margin: 0 auto;
      padding-inline: 40px;

      &-content {
        &-title {
          font-size: 2.5rem;
        }
      }

      &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        &__item {
          transition: transform 1s ease, filter 0.5s ease;

          &:hover {
            transform: scale(1.05);
            filter: none;
          }
        }
      }

      &-slider-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .about-us__recognitions-wrapper,
        .about-us__recognitions__PDF-wrapper {
          height: 100%;
        }

        .about-us__recognitions-wrapper {
          width: 70%;
        }

        .about-us__recognitions__PDF-wrapper {
          width: 25%;
        }
      }
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
