<div class="about-us__wrapper">
  <header class="about-us__header">
    <div class="about-us__header-description">
      <span class="about-us__header-description-subtitle">QUIENES SOMOS</span>
      <h1 class="about-us__header-description-title" [ngClass]="{'dark': isDark}">NOSOTROS</h1>
      <p class="about-us__header-description-text" [ngClass]="{'dark': isDark}"><span>MERCADATOS S.A.S BIC,</span>
        empresa fundada en Barranquilla en 1986, es líder en ofrecer Soluciones Integrales en Gestión Documental y
        asesoría jurídica. Brinda servicios seguros, rápidos y de alta calidad, apoyados en herramientas y modelos
        innovadores. Se especializa en la implementación de la Ley General de Archivos y la Ley de Transparencia,
        elaboración de Tablas de Retención Documental, y desarrollo de sistemas de información adaptados a procesos
        organizacionales. Además, cuenta con experiencia en consultorías jurídicas en derecho civil, laboral,
        empresarial y administrativo, con resultados exitosos certificados por la Norma ISO-9001-2000.</p>
    </div>
    <div class="about-us__header-image">
      <figure class="about-us__header-image-figure">
      </figure>
    </div>
  </header>
  <!-- Only in phone or tablets -->
  <section class="about-us__description">
    <p class="about-us__description-text" [ngClass]="{'dark': isDark}"><span>MERCADATOS S.A.S BIC,</span> empresa
      fundada en Barranquilla en 1986, es líder en ofrecer Soluciones Integrales en Gestión Documental y asesoría
      jurídica. Brinda servicios seguros, rápidos y de alta calidad, apoyados en herramientas y modelos innovadores. Se
      especializa en la implementación de la Ley General de Archivos y la Ley de Transparencia, elaboración de Tablas de
      Retención Documental, y desarrollo de sistemas de información adaptados a procesos organizacionales. Además,
      cuenta con experiencia en consultorías jurídicas en derecho civil, laboral, empresarial y administrativo, con
      resultados exitosos certificados por la Norma ISO-9001-2000.</p>
  </section>

  <section class="about-us__mission">
    <div class="about-us__mission-content">
      <h2 class="about-us__mission-content-title">Misión</h2>
      <p class="about-us__mission-content-description">
        Es una empresa líder en Colombia, especialmente en la Región Caribe, en la prestación de servicios en gestión
        documental, superando las expectativas de nuestros clientes, de manera eficiente, innovadora y responsable.
        Conformada por un equipo de trabajo multidisciplinario ampliamente calificado y un alto nivel técnico, logrando
        la satisfacción de los clientes internos y externos.
      </p>
    </div>
    <figure class="about-us__mission-figure">
      <img src="assets/foto-mission.jpg" alt="mission">
    </figure>
  </section>

  <hr>

  <section class="about-us__vision">
    <div class="about-us__vision-content">
      <h2 class="about-us__vision-content-title">Visión </h2>
      <p class="about-us__vision-content-description">
        Ser una empresa reconocida a nivel nacional en los servicios de Gestión Documental, con altos estándares de
        calidad y seguridad de la información a través de nuestros ejes de acción innovación, transparencia y
        tecnología.

      </p>
    </div>
    <figure class="about-us__vision-figure">
      <img src="assets/foto-vission.jpg" alt="mission">
    </figure>
  </section>

  <section class="about-us__beginning">
    <div class="about-us__beginning-content">
      <h2 class="about-us__beginning-content-title">Principios institucionales</h2>
      <p class="about-us__beginning-content-description">MERCADATOS S.A.S BIC es una empresa basada en principios
        organizacionales
        orientados a dar satisfacción a nuestros clientes internos y externos a partir del trabajo en equipo respetuoso,
        búsqueda de la excelencia en la calidad del servicio basada en innovación y experiencia. Los más importantes a
        destacar son:
      </p>
    </div>
    <div class="about-us__beginning-grid">
      <div class="about-us__beginning-grid__item" *ngFor="let item of beginning">
        <span class="material-icons">
          {{ item.icon }}
        </span> <span>{{item.text}}</span>
      </div>
    </div>
  </section>
  <section class="about-us__recognitions">
    <div class="about-us__recognitions-content">
      <h2 class="about-us__recognitions-content-title">Resultados y reconocimientos BIC </h2>
      <p class="about-us__recognitions-content-description">Primera Sociedad de Beneficio e Interés Colectivo en el
        Sector de los Servicios en Gestión Documental en el Departamento del Atlántico.

      </p>
      <p class="about-us__recognitions-content-description">En el marco de la Expo BIC, el Gobierno Nacional, en cabeza
        del Presidente de la República de Colombia, Iván Duque Márquez, nos otorgó Reconocimiento BIC.

      </p>
      <p class="about-us__recognitions-content-description">En 2023, la Cámara de Comercio de Barranquilla y
        Confecamaras otorgó reconocimiento a la empresa por el cumplimiento exitoso de los objetivos BIC en la vigencia
        2022.

      </p>
    </div>
    <div class="about-us__recognitions-slider-wrapper">
      <app-slider-images [images]="bicResults"></app-slider-images>
    </div>
  </section>
</div>