<section class="timeline">
    <div class="line"></div>
    <div (click)="emitTimeline.emit(card)" class="card" *ngFor="let card of timeline; let i = index" [class.right]="i%2===0" #elementsParallax>
        <div class="card-content">
            <h2 class="card-content--name">{{card.name}}</h2>
            <small class="card-content--year">{{card.date}}</small>
            <p class="card-content--description">{{card.description}}</p>
        </div>
        <div class="card-image">
            <figure>
                <img [src]="card.image" [alt]="card.description">
            </figure>
        </div>
    </div>
</section>