/* Phones */
.container-wrapper {
  width: 100%;
  min-height: 70vh;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;

  .section__title,
  .section__subtitle,
  .section__grid .item {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 1s ease, opacity 1s ease;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section__title {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.8rem;
    animation: topToBottom 1.2s ease-in-out;

    &.dark {
      color: white;
    }
  }

  .section__subtitle {
    color: var(--color-gray);
    max-width: 70%;
    text-align: center;
  }

  .section__grid {
    width: 100%;
    min-height: 50vh;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;

    .item {
      width: 80%;
      height: 100%;
      padding: 1.5rem;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: var(--color-dark-contrast);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1),
        // -4px -4px 20px rgba(255, 255, 255, 0.1);

      .item__icon {
        width: 25%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        span {
          border-radius: 10px;
          font-size: 1.8rem;
          color: white;
        }
      }

      .item__content {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;

        .item__title {
          color: var(--color-dark-gray);
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .item__description {
          color: var(--color-dark-gray);
          font-size: 0.9rem;
          line-height: 1.5rem;
          font-weight: 300;
        }
      }

      &.dark {
        background-color: var(--color-dark-gray);

        .item__content {
          .item__title,
          .item__description {
            color: var(--color-white);
          }
        }
      }
    }
  }
}

/* Small screens */
@media (max-width: 320px) {
  .container-wrapper {
    .section__grid {
      min-height: 60vh;
      .item {
        .item__icon {
          width: 30%;
          span {
            color: white;
          }
        }

        .item__content {
          width: 90%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .item__title {
            color: var(--color-dark);
            font-size: 1.2rem;
            font-weight: 600;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }

          .item__description {
            color: var(--color-dark-gray);
            font-size: 0.9rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;
          }
        }

        &.dark {
          background-color: var(--color-dark-gray);

          .item__content {
            .item__title {
              color: var(--color-white);
            }

            .item__description {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container-wrapper {
    .section__grid {
      .item {
        width: 100%;
      }
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .container-wrapper {
    margin-block: 3rem;
    .section__grid {
      width: 80%;
      min-height: 50vh;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .item {
        .item__icon {
          width: 20%;
          height: 40px;

          span {
            font-size: 1.6rem;
          }
        }

        .item__content {
          .item__title {
            font-size: 1rem;
          }

          .item__description {
            line-height: 20px;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
  .container-wrapper {
    .section__title {
      font-size: 2.8rem;
    }

    .section__subtitle {
      font-size: 1.4rem;
    }

    .section__grid {
      .item {
        height: 35vh;
        min-height: 35vh;

        .item__icon{
          width: 15%;
        }

        .item__content {
          .item__title {
            font-size: 1.4rem;
          }

          .item__description {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
