<div class="faq-container">
    <h2 class="faq-title" [ngClass]="{'isDark' : isDark}">Preguntas Frecuentes</h2>

    <div *ngFor="let faq of faqs" class="faq-item" (click)="toggleAnswer(faq)">
        <button class="faq-question">
            {{ faq.question }}
        </button>

        <div *ngIf="faq.isOpen" class="faq-answer">
            <p>{{ faq.answer }}</p>
        </div>

        <button class="toggle-button" [ngClass]="{'open' : faq.isOpen}">
            <span class="material-icons arrow-dropdown">
                keyboard_arrow_down
            </span> </button>
    </div>
</div>