.faq-container {
  width: 100%;
  min-height: 100vh;
  // max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
    background-color: #dafff75b;
    clip-path: circle();
  }

  &::before {
    content: "";
    position: absolute;
    left: 80px;
    top: 80px;
    width: 200px;
    height: 200px;
    background-color: #99c1c94e;
    clip-path: circle();
  }

  .faq-title,
  .faq-item {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 1s ease, opacity 1s ease;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-block: 50px;
  }

  .faq-item {
    min-height: 80px;
    // padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--gradient-primary);
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease;

    .toggle-button {
      position: absolute;
      right: 5px;
      top: 28%;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.8rem;
      color: var(--color-gray);
      cursor: pointer;

      &.open {
        top: 36%;

        .arrow-dropdown {
          transition: all 0.5s ease;
          transform: rotate(180deg);
        }
      }
    }

    .faq-question {
      width: 100%;
      height: 100%;
      padding: 10px;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: transparent;
      color: var(--color-font-gray);
      border: none;
      text-align: left;
      border-radius: 5px;
      cursor: pointer;
      transition: all 1s ease;
      max-width: 75%;
    }

    .faq-answer {
      margin-top: 10px;
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-font-gray);
      line-height: 1.5;
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      transition: all 1s ease;
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .faq-container {
    max-width: 600px;
  }
}
/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* Medium screens */
@media (min-width: 1280px) {
  .faq-container {
    .faq-item {
      width: 50%;
      margin: 0 auto;
    }

    .faq-title {
      font-size: 2.5rem;
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
